<mat-toolbar>
  To do List
</mat-toolbar>
<div class="center">
  <mat-card>
    <mat-form-field appearance="fill" *ngIf="signUp">
      <mat-label>Entrez votre prénom</mat-label>
      <input matInput [formControl] = "pseudo" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input
        matInput
        [formControl]="email"
        required
      />
      <mat-error *ngIf="email.invalid">{{ getEmailErrorMessage() }}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Mot de passe</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" [formControl] = "password" required>
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="password.invalid">{{ getPasswordErrorMessage() }}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" *ngIf="signUp">
      <mat-label>Confirmation</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" [formControl] = "confirmPassword" required>
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="confirmPassword.invalid">{{ getConfirmPasswordErrorMessage() }}</mat-error>
    </mat-form-field>
    <div class="example-button-row" *ngIf="!signUp">
      <button mat-raised-button (click)="connect()">Connexion</button>
    </div>
    <div class="example-button-row" *ngIf="signUp">
      <button mat-raised-button (click)="connect()">Inscription</button>
    </div>
    <div class="change" *ngIf="!signUp">
      <mat-label>Pas encore de compte ? <span (click)="setSignUp()">Créez-en un !</span></mat-label>
    </div>
    <div class="change" *ngIf="signUp">
      <mat-label>Déjà compte ? <span (click)="setSignUp()">Connectez-vous !</span></mat-label>
    </div>
  </mat-card>
</div>
