h3 {
  margin-right: 10px;
  align-items: start;
}

mat-form-field {
  align-items: end;
}

.fields {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fields-date {
  display: flex;
  flex-direction: row;
  align-items: center;
}

mat-card {
    margin-left: 20px;
}

.calendar-card {
  width: 300px;
}
